@import "tailwindcss";

html,
body {
  width: 100%;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@layer components {
  /* Dashboard  */
  .dash {
    @apply flex items-center justify-between mx-5;
  }

  .dash-content {
    @apply flex flex-col items-center pl-5 pt-7;
  }

  .dash-content h1 {
    @apply text-2xl font-extrabold bg-gradient-to-r from-pink-500 via-purple-500 to-sky-500 bg-clip-text text-transparent;
  }

  /* Navbar */
  .flex-center {
    @apply flex w-full justify-between items-center p-3.5 mx-5;
  }

  nav {
    @apply border-b border-gray-700;
  }

  .flex-center img {
    @apply max-w-[60px] rounded-full border-2 border-pink-500;
  }

  .flex-center h1 {
    @apply font-semibold text-3xl;
  }

  .flex-center > div {
    @apply flex gap-5 justify-center items-center;
  }

  .flex-center > div > div {
    @apply flex flex-col gap-0 items-end;
  }

  .flex-center i {
    @apply text-gray-400;
  }

  /* Not Found */
  .not-found{
    @apply flex justify-center items-center h-screen w-full 
  }
  .not-found img{
    @apply max-w-200
  }

  /* Welcome Section */
  #welcome{
    @apply flex flex-col w-full items-center gap-8 p-10 h-dvh justify-center
  }

  #welcome h1{
    @apply text-6xl font-extrabold bg-gradient-to-r from-pink-500 via-purple-500 to-sky-500 bg-clip-text text-transparent ;
  }

  #welcome p{
    @apply  text-center text-[20px] text-gray-400 w-10/12
  }

  #welcome button {
  @apply rounded-xl px-15 py-3 text-xl font-semibold cursor-pointer relative border-4 border-transparent;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)), linear-gradient(to right, #ec4899, #a855f7, #0ea5e9);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
}
